{% extends 'base.html' %}

{% block menu %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'task_create' %}">EAAAAAA</a>
    </li>
{% endblock%}

{% block content %}
    <h1>Задачи</h1>
    <div class="row row-cols-2">
        {% for task in tasks %}
            <div class="col p-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.description }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.status }}</h6>
                        <p class="card-text">{{ task.date_of_completion }}</p>
                        <form action="{% url 'task_delete' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ task.id }}">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                        <a href="{% url 'task_view' pk=task.pk %}" class="btn btn-primary ms-2">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock%}