{% csrf_token %}
<div class="mb-3">
    <label for="description" class="form-label">Описание</label>
    <input type="text" class="form-control" name="description" id="description">
</div>
<select class="form-select" name="status" aria-label="Статус">
    {% for status_choice in status_choices %}
        <option value="{{ status_choice.0 }}">{{ status_choice.1 }}</option>
    {% endfor %}
</select>
<div class="mb-3">
    <label for="date_of_completion" class="form-label">Дата выполнения</label>
    <input type="text" class="form-control" name="date_of_completion" id="date_of_completion">
</div>
<input type="submit" value="{{ value_submit }}"/>